Repository servicemesher/trans, pull requests merged in 2019-04, with the labels that each got.

#233 Translation: Do I need a servcie mesh?
  201903/do-i-need-a-service-mesh.md
Labels: category/translation

#237 Translation: Guidance for Building a Control Plane for Envoy Part 3: Domain Specific Configuration
  201904/Guidance-for-Building-a-Control-Plane-for-Envoy-Part-3-Domain-Specific-Configuration.md
Labels: category/translation

#228 Translation: faas-vs-microservices
  201902/faas-vs-microservices.md
Labels: category/translation

#242 Translation: Automated canary deployments with Flagger and Istio
  201904/Automated-canary-deployments-with-Flagger-and-Istio.md
Labels: category/translation

#241 Create the-service-mesh-era-istios-role-in-the-future-of-hybrid-cloud.md
  201904/the-service-mesh-era-istios-role-in-the-future-of-hybrid-cloud.md
Labels: category/translation

#247 Translation: istio monitoring explained
  201904/istio-monitoring-explained.md
Labels: categories/monitoring, kind/translation, size/M, status/under-review, tag/istio

#248 Translation: Guidance for Building a Control Plane for Envoy Part 4: Build for Extensibility
  201904/guidance-for-building-a-control-plane-for-envoy-part-4-build-for-extensibility.md
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/envoy

#250 Translation: My2Cents - Eight things leads to developing catastrophic cloud native microservices system
  2019/201904/eight-things-leads-to-developing-catastrophic-cloud-native-microservices-system.md
Labels: categories/microservices, kind/translation, size/M, status/under-review

#254 Translation: What Is a Service Mesh?
  .gitignore
  2019/04/what-is-a-service-mesh/index.md
  2019/04/what-is-a-service-mesh/service-mesh-generic-topology.png
Labels: categories/service-mesh, kind/translation, size/S, status/under-review, tag/istio

#256 Translation: Benchmarking Istio & Linkerd CPU
  2019/04/benchmarking-istio-and-linkerd-cpu/1.png
  2019/04/benchmarking-istio-and-linkerd-cpu/2.png
  2019/04/benchmarking-istio-and-linkerd-cpu/3.png
  2019/04/benchmarking-istio-and-linkerd-cpu/4.png
  2019/04/benchmarking-istio-and-linkerd-cpu/5.png
  2019/04/benchmarking-istio-and-linkerd-cpu/6.png
  2019/04/benchmarking-istio-and-linkerd-cpu/index.md
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/istio, tag/linkerd

#259 Translation: Envoy, Service Mesh and Observability Best Practices for Enterprises
  2019/04/envoy-service-mesh-and-observability-best-practices-for-enterprises/index.md
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/envoy, tag/istio
