Repository servicemesher/trans, pull requests merged in 2019-05, with the labels that each got.

#255 Translation: API Gateways Are Going Through an Identity Crisis
  2019/01/api-gateways-are-going-through-an-identity-crisis/index.md
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/istio

#284 Translation: Preventing Systemic Failure: Circuit Breaking—What it is and How it Works, Part 2
  2019/05/preventing-systemic-failure-circuit-breaking-part-2/cover.jpg
  2019/05/preventing-systemic-failure-circuit-breaking-part-2/hystrix.jpg
  2019/05/preventing-systemic-failure-circuit-breaking-part-2/index.md
  2019/05/preventing-systemic-failure-circuit-breaking-part-2/monitor-control.png
  2019/05/preventing-systemic-failure-circuit-breaking-part-2/refine.png
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/istio, tag/linkerd

#266 Translation: Gloo, by Solo.io, is the first alternative to Istio on Knative
  2019/04/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative-1.png
  2019/04/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative-2.png
  2019/04/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative-3.png
  2019/04/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative-4.png
  2019/04/gloo-by-solo-io-is-the-first-alternative-to-istio-on-knative/index.md
Labels: kind/translation, size/M, tag/istio, tag/knative

#290 Translation: Kubernetes Service Mesh
  .spelling
  2019/05/kubernetes-service-mesh/arch.svg
  2019/05/kubernetes-service-mesh/empty-dashboard.png
  2019/05/kubernetes-service-mesh/index.md
  mdl_style.rb
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/kubernetes

#278 Translation: Canary Release Strategy Using Kubernetes, Istio and Helm
  .spelling
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g262ptg24tj30i20c1t9p.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2uc247iboj315o0tndmy.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2ucct7lxoj315o0tnn58.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2ucjbe9lbj315o0tn10u.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2uclnkuu6j315o0tnahx.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2ucs0jxkxj315o0tnjzb.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2ucwd5qmaj315o0tnjz5.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/0071hauBly1g2ud0nxutaj315o0tnwln.jpg
  2019/05/canary-release-strategy-using-kubernetes-istio-and-helm/index.md
Labels: categories/service-mesh, kind/translation, size/L, status/under-review, tag/istio, tag/kubernetes

#275 translation: Istio Observability with Go, gRPC, and Protocol Buffers-based Microservices #271
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/1.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/10.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/11.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/12.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/13.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/14.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/15.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/16.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/17.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/18.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/19.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/2-1.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/20.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/21.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/3.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/4-1.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/5.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/6.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/7.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/8.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/9.png
  2019/05/istio-observability-with-go-gprc-and-protocol-buffers-based-microservices/index.md
Labels: categories/service-mesh, kind/translation, size/L, status/under-review, tag/istio

#300 Translation: We deployed Envoy Proxy to make Monzo faster
  2019/05/deploying-envoy-proxy/envoy-blog-1.png
  2019/05/deploying-envoy-proxy/envoy-blog-2.png
  2019/05/deploying-envoy-proxy/envoy-blog-3.png
  2019/05/deploying-envoy-proxy/envoy-blog-4.png
  2019/05/deploying-envoy-proxy/envoy-blog-5.png
  2019/05/deploying-envoy-proxy/index.md
Labels: categories/service-mesh, kind/translation, size/M, status/under-review, tag/envoy
